.navbar-brand {
    height: 70px;
    position: relative;
    font-size: 250%;
    font-weight: normal;
    font-family: PMingLiU , "Noto Sans CJK TC", "Microsoft JhengHei", serif;
    letter-spacing: 0.5cm;
}

.row{
    margin: 40px;
}

.content-box{
    margin-top: 4cm;
    text-align: center;
}


.container{
    
    /* 水平置中 */
    justify-content: center; 
    margin-top: 2cm;
    max-width: fit-content;
} 

.btn {
    display: inline-block;
    border-radius: 10px;
    position: relative;
    width: 180px;
    height: 75px;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    transition: all 0.5s;
    cursor: pointer;
}

.btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.btn:hover span {
    padding-right: 25px;
}

.btn:hover span:after {
    opacity: 1;
    right: 0;
}