.navbar-brand {
    height: 70px;
    position: relative;
    font-size: 250%;
    font-weight: normal;
    font-family: PMingLiU , "Noto Sans CJK TC", "Microsoft JhengHei", serif;
    letter-spacing: 0.5cm;
}

.content-box{
    margin-top: 2cm;
    margin-bottom: 1cm;
    text-align: center;
}

.content-box2{
    margin-top: 1cm;
    margin-bottom: 2cm;
    text-align: center;
}

/* input[type=submit] {
    font-size: x-large;
    padding:13px 40px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
} */


.row {
    margin-top: 50px;
    margin-bottom: 50px;
}

.btn {
    display: inline-block;
    border-radius: 10px;
    position: relative;
    width: 180px;
    height: 70px;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    transition: all 0.5s;
    cursor: pointer;
    background-color: #2F4F4F;
}

.btn:hover{
    background-color: #2F4F4F;
}

.btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.btn:hover span {
    padding-right: 25px;
}

.btn:hover span:after {
    opacity: 1;
    right: 0;
}